<h4 class='danger'>Face Database</h4>
<table class='table'>
  <thead>
    <tr>
      <th scope='col'>First name</th>
      <th scope='col'>Last name</th>
      <th scope='col'>Date Added</th>
      <th scope='col'>Photo</th>
      <th scope='col'>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each subscribers}}
      <tr>
        <td>{{firstName}} </td>
        <td>{{lastName}}</td>
        <td>{{date}}</td>
        <td></td>
        <td><i class='material-icons'>edit</i><i
            class='material-icons'
          >delete</i></td>
      </tr>
    {{else}}
      <p>No subscribers present.</p>
    {{/each}}
  </tbody>
</table>

<!-- Use the pagination class -->
<ul class='pagination center-align'>

  <!-- Use icon inside list item 
                for the left arrow -->
  <li class='disabled'>
    <a href='#!'>
      <i class='material-icons'>
        chevron_left
      </i>
    </a>
  </li>

  {{#each totalSubscribers as |items|}}

    <li class='waves-effect'>
      <a href='/subscribers?page={{items}}'>{{items}}</a>
    </li>
  {{/each}}

  <li class='waves-effect'>
    <a href='/subscribers?next=true&&page={{page}}'>
      <i class='material-icons'>
        chevron_right
      </i>
    </a>
  </li>
</ul>